{% extends "layouts/_base.html" %}

{% set title = "Insure SME" %}
{% set headerIsWhite = true %}

{% block content %}
  <section class="cover">
    <div class="cover__container container">
      <div class="cover__item">
        <h1 class="cover__title">Commercial Insurance,
                                  Made Simple</h1>
        <p class="cover__desc">Comprehensive Coverage Designed
                                  for Business Owners</p>
        <a href="/" class="button button--white button--outline button--lg">
          <span>Get a free quote</span>
          <i class="icon icon--right"></i>
        </a>

        <div class="home-cover-steps">
          <ul class="home-cover-steps__list">
            <li class="home-cover-steps__item">
              <i class="home-cover-steps__icon icon icon--flag"></i>
              <p class="home-cover-steps__desc">Tell Us About
                                                Your Business</p>
            </li>

            <li class="home-cover-steps__item">
              <i class="home-cover-steps__icon icon icon--search"></i>
              <p class="home-cover-steps__desc">We Find You
                                                The Best Policies</p>
            </li>

            <li class="home-cover-steps__item">
              <i class="home-cover-steps__icon icon icon--refresh"></i>
              <p class="home-cover-steps__desc">Buy Instantly</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="cover__item">
        <div class="home-cover-video">
          <div class="home-cover-video__overlay">
            <div class="home-cover-video__poster">
              <img class="home-cover-video__poster-img" src="" alt="">
            </div>

            <button class="home-cover-video__play"></button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--lead section--filled">
    <div class="container">
      <div class="slider">
        <div class="slider__nav">
          <button class="slider__prev slider__btn"></button>
          <button class="slider__next slider__btn"></button>
        </div>

        <div class="slider__items">
          <div class="slider__item">
            {{ picture("QBE", "home-partner-slider__slide", "/img/home/partners/qbe", "png") }}
          </div>
          <div class="slider__item">
            {{ picture("Tokio Marine HCC", "home-partner-slider__slide", "/img/home/partners/tokiomarine", "png") }}
          </div>
          <div class="slider__item">
            {{ picture("Chubb Limited", "home-partner-slider__slide", "/img/home/partners/chubb", "png") }}
          </div>
          <div class="slider__item">
            {{ picture("AXA Group", "home-partner-slider__slide", "/img/home/partners/axa", "png") }}
          </div>
          <div class="slider__item">
            {{ picture("Liberty Mutual Insurance", "home-partner-slider__slide", "/img/home/partners/liberty", "png") }}
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="section__title">Benefits</h2>
      <div class="benefits">
        <div class="benefits__item">
          <div class="benefits__item-icon">
            <i class="icon icon--circle icon--check-circle icon--bg-blue"></i>
          </div>

          <div class="benefits__item-wrap">
            <div class="benefits__item-img-wrap">
              {{ picture("Amazing Prices", "benefits__item-img", "/img/home/benefits/home__benefit-1", "jpg") }}
            </div>

            <div class="benefits__item-content">
              <h3 class="benefits__item-title">Amazing Prices</h3> 
              <p class="benefits__item-desc">Immediately get your insurance quotation.</p>
            </div>
          </div>
        </div>

        <div class="benefits__item">
          <div class="benefits__item-icon">
            <i class="icon icon--circle icon--check-circle icon--bg-blue"></i>
          </div>

          <div class="benefits__item-wrap">
            <div class="benefits__item-img-wrap">
              {{ picture("Instant Coverage", "benefits__item-img", "/img/home/benefits/home__benefit-2", "jpg") }}
            </div>

            <div class="benefits__item-content">
              <h3 class="benefits__item-title">Instant Coverage</h3> 
              <p class="benefits__item-desc">All your insurance needs in one online environment</p>
            </div>
          </div>
        </div>

        <div class="benefits__item">
          <div class="benefits__item-icon">
            <i class="icon icon--circle icon--check-circle icon--bg-blue"></i>
          </div>

          <div class="benefits__item-wrap">
            <div class="benefits__item-img-wrap">
              {{ picture("Incredible Service", "benefits__item-img", "/img/home/benefits/home__benefit-3", "jpg") }}
            </div>

            <div class="benefits__item-content">
              <h3 class="benefits__item-title">Incredible Service</h3> 
              <p class="benefits__item-desc">Easy decision and buying process</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section section--filled">
    <div class="container">
      <h2 class="section__subtitle">Products</h2>
      <p class="section__title">Most Common Insurance Products
                                  for business owners</p>

      <div class="iconic-block-group">
        {% set iconicGroup1 = [
          { icon: 'lifebelt', label: 'Marine Cargo' },
          { icon: 'earth', label: 'Travel' },
          { icon: 'home', label: 'Property' },
          { icon: 'chart', label: 'Commercial\n Auto Insurance' },
          { icon: 'cyber', label: 'Cyber Insurance' },
          { icon: 'receipt', label: 'Work Injury\n Compensation' },
          { icon: 'list', label: 'General Liability\n insurance' },
          { icon: 'flag-blue', label: 'Fidelity Guarantee\n Insurance' },
          { icon: 'card', label: 'Trade Credit\n Insurance' }
        ] %}

        {% for item in iconicGroup1 %}
          <div class="iconic-block">
            <span class="iconic-block__icon">
              <i class="icon icon--{{ item.icon }}"></i>
            </span>

            <span class="iconic-block__label">{{ item.label | e }}</span>
            
            <a href="#" class="iconic-block__button button button--gray button--uppercase">
              <span>Get a quote</span>
              <i class="icon icon--right-dark"></i>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}