{% extends "layouts/_base.html" %}

{% set title = "Insure SME" %}
{% set headerIsWhite = true %}

{% block content %}
  <section class="cover">
    <div class="cover__container container">
      <div class="cover__item">
        <h1 class="cover__title">Commercial Insurance,
                                  Made Simple</h1>
        <p class="cover__desc">Comprehensive Coverage Designed
                                  for Business Owners</p>
        <a href="/" class="button button--white button--outline button--lg">
          <span>Get a free quote</span>
          <i class="icon icon--right"></i>
        </a>

        <div class="home-cover-steps">
          <ul class="home-cover-steps__list">
            <li class="home-cover-steps__item">
              <i class="home-cover-steps__icon icon icon--flag"></i>
              <p class="home-cover-steps__desc">Tell Us About
                                                Your Business</p>
            </li>

            <li class="home-cover-steps__item">
              <i class="home-cover-steps__icon icon icon--search"></i>
              <p class="home-cover-steps__desc">We Find You
                                                The Best Policies</p>
            </li>

            <li class="home-cover-steps__item">
              <i class="home-cover-steps__icon icon icon--refresh"></i>
              <p class="home-cover-steps__desc">Buy Instantly</p>
            </li>
          </ul>
        </div>
      </div>

      <div class="cover__item">
        <div class="home-cover-video">
          <div class="home-cover-video__overlay">
            <div class="home-cover-video__poster">
              <img class="home-cover-video__poster-img" src="" alt="">
            </div>

            <button class="home-cover-video__play"></button>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}