{% extends "layouts/_base.html" %}
{% from "components/_breadcrumbs.html" import breadcrumbs %}

{% set title = "Fidelity Insurance Is All About" %}

{% block content %}
  <section class="section section--first">
    <nav class="container">
      {{ breadcrumbs([
        { label: 'Products', link: '/' },
        { label: 'Fidelity Insurance Is All About' }
      ]) }}
    </nav>
  </section>

  <section class="inner-section container inner-section--first">
    <h2>What Fidelity Insurance Is All About</h2>
    <p>Fidelity Insurance is a protection for your business against any fraudulent or dishonest acts committed by your employees. Fidelity Guarantee insurance covers the loss of money or other property belonging to you or for which you are legally responsible for as a direct result of forgery, defalcation, embezzlement and other fraudulent acts.</p>
    <p>To a large extent, smaller companies are more susceptible to this risk as there may be limited processes put in place to cultivate good workplace ethics/ insufficient audit control / closer employee-employer relationships. As such, fidelity insurance is required to indemnify any financial loss incurred as a result of a disgruntled/ dishonest act by your employee.</p>
  </section>

  <section class="inner-section container">
    <h2>What Is Fidelity Insurance Coverage?</h2>
    <p>In order for a loss to be covered, it is important to understand and identify the factors that may contribute to this loss. Fidelity insurance is meant to cover <b>loss</b> as <b>a direct result</b> of an act by an <b>employee</b>, and these factors have to be justified in order for the policy to respond.</p>
    <p>A <b>loss</b> could be in monetary terms, or the disappearance of goods or property that you own. The business has to reflect this loss either in their inventories /balance sheet or P&L statement so that claims made under the policy can be admitted.</p>
    <p>The cause of the loss also has to be a <b>direct result</b> made by the staff. A simple example to illustrate this would be 1) If the employee forge signatures on company cheques, misappropriated company funds hence causing the company to face cashflow problems, yes that is covered under the policy. However, 2) if the staff loses the cheque book and someone else picked up the cheque and encash the company’s funds by forging the signatures, that is not covered under the policy terms.</p>
    <p>The act of dishonesty has to be conducted by the <b>employee</b> himself. An employee is deemed to be any natural person engaged by the company to perform their duties as stipulated by their employment contract. The employee could be a full-time/ part-time worker, consultant or even a contract worker.</p>
  </section>

  <section class="inner-section container">
    <h2>Do I Need Fidelity Insurance?</h2>
    <p>In a 2018 report published by PWC, more than one third of Singapore-based companies (35%) experienced economic crime, up from 22% in 2016. In a separate report (2018) by EY, globalisation in the digital age has made fraud detection more difficult in today’s complex environment.</p>

    <p>
      <a href="">PwC’s Global Economic Crime and Fraud Survey 2018 Report</a>
    </p>
    <p>
      <a href="">15th Global Fraud Survey Report</a>
    </p>

    <p>If your company shares this traits, it is better than you get yourself covered with fidelity insurance:</p>
    <ul>
      <li>Businesses that manages cash registers</li>
      <li>Manpower intensive industries (retail, F&B)</li>
      <li>Entertainment Industries (Sports betting counters, Casinos, amusement centres, sports & recreational centres)</li>
    </ul>

    <a href="#quoteModal" rel="modal:open" class="button button--primary button--uppercase button--lg">
      GET A FREE QUOTE
      <i class="icon icon--right"></i>
    </a>
  </section>

  <section class="inner-section container">
    <h2>What Does Fidelity Insurance Cover?</h2>
    <p>Fidelity insurance covers only 1st party losses, i.e. losses incurred directly to the insured, not to 3rd parties.</p>
    <p>It covers the loss of goods & money in the course of a dishonest act by an employee. The policy will indemnify against the value of the goods/money at the point of loss, and employers have to keep a record of their inventory list/ cash register receipts/ payment vouchers so as to assist in claims processing.</p>
  </section>

  <section class="inner-section container">
    <h2>You'll Know It's the Right Policy If It Covers:</h2>
    <ul>
      <li>Misappropriation of company funds by employees</li>
      <li>Loss of monies when dishonest employees handle the cash register daily takings</li>
      <li>Loss of inventories due to theft (by employees)</li>
      <li>False/ fradulent invoicing, or collusion with external parties with the aim to profit from the transaction</li>
    </ul>
  </section>

  <section class="inner-section container">
    <h2>What Does Fidelity Insurance Not Cover?</h2>
    <p>Some general exclusion will include:</p>
    <ul>
      <li>Change in the nature of your business</li>
      <li>Change in responsibilities or salaries of your employee who are covered under the insurance</li>
      <li>Losses that are not backed by evidence due to bad accounting system</li>
      <li>Third-party losses</li>
      <li>Losses resulting from negligence, extortions, and blackmails</li>
    </ul>
  </section>

  <section class="inner-section container">
    <h2>How Much Does General Liability Insurance Cost?</h2>
    <p>Fidelity insurance cost are greatly affected by the conduct of the business. Generally, if a business has strict control over their cash management, the lesser the premium it cost to insure such businesses.</p>
    <p>Few factors that is considered when tabulating the premium cost will include the following:</p>
    <ul>
      <li>Policy Limit of liability</li>
      <li>Number of employees to be covered under the policy</li>
      <li>Deductibles</li>
      <li>Internal Cash management controls</li>
      <li>Type of industries (whether the business has high levels of cash handling)</li>
    </ul>
  </section>

  {% from "components/_contact-card.html" import contactCard %}
  {{ contactCard(true) }}
{% endblock %}