$icons-map: email, lock;

@mixin icons {
	@each $icon in $icons-map {
		.icon-#{$icon} {
			background-image: url("/img/icons/#{$icon}.svg");
    }
  }
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

@include icons