.home-cover-steps {
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    max-width: 7.5em;
    font-size: 1.15em;
    line-height: 1.3;
    white-space: pre-line;

    &:not(:last-child) {
      margin-right: 3em;
    }
  }

  &__icon {
    font-size: 1.1em;
  }

  &__desc {
    margin-top: 1.1em;
    margin-bottom: 0;
  }
}