{% extends "layouts/_base.html" %}
{% from "components/_breadcrumbs.html" import breadcrumbs %}

{% set title = "Retailer" %}

{% block content %}
  <section class="section section--first">
    <nav class="container">
      {{ breadcrumbs([
        { label: 'Main Page', link: '/' },
        { label: 'Retailer' }
      ]) }}
    </nav>
  </section>

  <section class="inner-section container">
    <h2>What Protection is necessary for the Retailer</h2>
    <p>Retailer is the person or institution who delivers goods to final consumer in the channel of distribution. It is the link between the manufacturer &amp; the end consumer, and they create value by providing a suite of products/services by breaking bulk purchases from suppliers, holding inventories &amp; ultimately selling the goods in smaller quantities, creating value to customers just like you and me.</p>
    <p>Nobody would want to buy 100 sets of the latest Smart TV console from the wholesaler/manufacturer, if your living room only has use for a 50inch TV… therefore we would go to our neighbourhood electronic retailer shop to choose from a wide range of selection (wide product range), find the right TV set with desired features (create value), and make a single purchase (bulk breaking).</p>
    <p>There lies the next questions: What if our neighbourhood electronic retailer fails to sell the remaining 99 TV sets? What if there is no demand for 50inch TVs? What if their competitor sells at a cheaper price?</p>
    <p>By understanding the market &amp; consumer purchasing habits, retailers could greatly reduce their operational risk, and if that fails too, insurance cover is what businesses need in order to survive in this highly competitive retailing market space.</p>
  </section>

  <section class="inner-section container">
    <h2>Who exactly is the Retailer?</h2>
    <p>Retailers are often associated as product/services distributors from manufacturers to end consumers. In the supply chain, retailers play a more important role than just delivering a product to end users. We can broadly categorise these functions into different segments.</p>

    <ol>
      <li>What retailers choose to sell and how it is produced (upstream activities in the supply chain).</li>
      <li>How retailers sell (in-store activities).</li>
      <li>How retailers communicate with consumers (downstream activities in the supply chain).</li>
    </ol>

    <p>We can illustrate this with the television purchase example earlier.</p>

    <h4>Upstream activities:</h4>
    <p>The electronic retailer will negotiate with several TV manufacturers/wholesalers for bulk purchases of different TV brands &amp; models &amp; keep them as inventories for future sales to the consumer market. By doing so, there benefit from bulk purchase discounts but risk higher inventory storage cost &amp; product obsolescence.</p>

    <h4>In-store activities:</h4>
    <p>Electronic retailers have to manage inventories through warehousing options, arrange for logistic for delivery of goods, design retail space layout to optimise customer experience when shopping for TV panels. Business interruptions, loss or damage of goods while in transit could possibly cause the business to lose money before a TV sale is done.</p>

    <h4>Downstream activities:</h4>
    <p>Using Retail marketing strategies, retailers can create value by differentiation of the Product, Price, Place, Promotion, People – commonly known as the 5 P’s of marketing. Electronic Shops can possibly hold bazaar sales to clear out old stocks, or offer discounted prices for certain TV brands/models, or even target selected consumer to switch our their old Television (TV boxes) for the new slim LED TV panels. Credit risk defaults of consumers often remains a high concern for retailers selling goods on credit terms.</p>
  </section>

  <section class="inner-section container">
    <h2>What Insurance does Retailers need?</h2>
    <p>Adequate protection is required for the different phases of distribution. The retailer is the last link in the chain of distribution, and it is important to address risk that is inherent in the upstream/in-store/downstream activities through a comprehensive insurance policy</p>
    <p>We can broadly categorize the risk to the type of insurance required:</p>
    
    <ul>
      <li>Logistic – Inland transit, Work Injury Compensation, Marine Cargo, Motor</li>
      <li>Warehousing – Property insurance</li>
      <li>In-Store – Product Liability, Trade Credit, Cyber Insurance, Fidelity, Business interruption</li>
    </ul>


    <a href="#quoteModal" rel="modal:open" class="button button--primary button--uppercase button--lg">
      GET A FREE QUOTE
      <i class="icon icon--right"></i>
    </a>
  </section>

  <section class="inner-section container">
    <h2>What policies are suitable for Retailers?</h2>

    <h4>Trade Credit Insurance</h4>
    <ul>
      <li>A risk management/business development tool to cover payment defaults when companies are trading on credit terms</li>
      <li>Offers protection against events of credit default on trade receivables (non-payment, buyer insolvency)</li>
      <li>Offers competitive credit terms without compromising on credit risk when pursuing growth in new/challenging markets</li>
    </ul>

    <h4>Work Injury Compensation (WIC)</h4>
    <ul>
      <li>Mandatory legal requirement for companies that relies on human manual labour, and/or employs workers that earns less than $1,600/pm</li>
      <li>Labour intensive related industries (factories, assembly plants, construction sites, mills, farms)</li>
    </ul>

    <h4>Motor Insurance</h4>
    <ul>
      <li>Companies that uses commercial vehicles, prime movers, cranes , hoisting vehicles will need to protect their assets against loss or damage</li>
      <li>Legal requirement to have road insurance in place prior to conduct of business</li>
      <li>Companies that are in the logistic business (freight forwarding, movers, logistics)</li>
    </ul>

    <h4>Inland Transit</h4>
    <ul>
      <li>Covers the loss, destruction or damage to the goods whilst in transit, which includes the packing and unpacking, loading or offloading, transportation and storage of goods by any means land conveyance or whilst temporarily housed in the ordinary course of transit within the territorial limit caused by named perils or accidental means.</li>
      <li>Usually only covers domestic transportation, and policy cover could be extended to either 1 vehicle or a fleet of vehicles.</li>
    </ul>

    <h4>Property Insurance</h4>
    <ul>
      <li>Requirement for companies that has warehouses, factories, mills, plants to protect against loss or damage of property & its contents.</li>
      <li>Consequential damages which includes business interruption, rebuilding/repair cost, inventories replacement cost, 3rd party damages could prove to be very costly if left uninsured</li>
    </ul>

    <h4>Product Liability</h4>
    <ul>
      <li>Damages or death caused to 3 rd parties through the use of product, due to performance or functional failure, which may lead of costly lawsuits or penalties associated with failure to comply to either regulatory requirements or social/ enterprise guidelines</li>
      <li>Protection against such liabilities is important if the product is the key driver to the growth of the company. Company branding & goodwill is left compromised, as a result of inadequate protection against possible product performance failure</li>
    </ul>

    <p>Other insurance products that are commonly used in the manufacturer sectors will include:</p>
    <ul>
      <li>Marine Cargo</li>
      <li>Cyber Security</li>
      <li>Public Liability</li>
      <li>Business interruption</li>
      <li>Director & Officer Liability</li>
    </ul>
  </section>

  <section class="inner-section container">
    <h2>What is Cost of Protection?</h2>
    <p>From a needs based analysis, it would be more meaningful to look at the amount of coverage required and derive the insurance cost that is associated with the protection required. Hence, company owner needs to understand their liabilities whilst conducting their business, and seek a suitable suite of insurance cover that addresses most if not all of their immediate and/or future liabilities.</p>
    <p>For a detailed recommendation, we advise you to list down your requirements in the quotation page to allow us to understand your needs better before we provide our solutions.</p>
    <a href="#quoteModal" rel="modal:open" class="button button--primary button--uppercase button--lg">
      GET A FREE QUOTE
      <i class="icon icon--right"></i>
    </a>
  </section>
  {% from "components/_contact-card.html" import contactCard %}
  {{ contactCard(true) }}
{% endblock %}