{% extends "layouts/_base.html" %}
{% from "components/_breadcrumbs.html" import breadcrumbs %}

{% set title = "Wholesaler" %}

{% block content %}
  <section class="section section--first">
    <nav class="container">
      {{ breadcrumbs([
        { label: 'Main Page', link: '/' },
        { label: 'Wholesaler' }
      ]) }}
    </nav>
  </section>

  <section class="inner-section container">
    <h2>What Protection is necessary for Wholesaler</h2>
    <p>Wholesalers are middleman in the supply chain, the linkage between the producer and the consumer. The key functions of wholesalers/ distributors include cushioning the manufacturers from volatility in product demand by stocking inventory, performing sales and after sales servicing roles to ensure customer satisfaction.</p>
    <p>Other common functions perform by wholesalers/distributors include inventory management, warehousing, logistics as well as customer support.</p>
    <p>Through value creation in the supply chain distribution model, there is inherent risk in its undertakings for different roles that the wholesaler takes, making cover protection against risk all the more important.</p>
  </section>

  <section class="inner-section container">
    <h2>Who exactly is the Wholesaler?</h2>
    <p>Wholesalers/distributors are companies that take inventory in bulk from manufacturers and occasionally raw materials producers and thereafter supply a suite of related product lines to its customers. Wholesaler undertakes the role of a purchaser, storeman, distributor, financier in their function, and assumes a wide spectrum of risk (liquidity, credit risk) associated with its trade.</p>
    
    <h4>[Role as a Purchaser]</h4>
    <p>Wholesalers would typically sell different varieties of a product line, supplying the market with a range of product in its class. Examples of a pulp & paper wholesaler would carry cardboards, paper, recycled paper, coated or uncoated paper, bond paper, etc.</p>

    <h4>[Role as a Storeman]</h4>
    <p>Wholesalers need a deep line of credit to operate its business, as inventories purchase would require huge capital outlay. They buy goods in large quantities, stocks goods in warehouses and ultimately sells in relatively smaller quantities to retailers/ end consumers.</p>

    <h4>[Role as a Distributor]</h4>
    <p>As a middleman, they facilitate the flow of goods from the producer to the consumers by employing a number of agents or workers for distribution of products. Wholesaler undertakes the responsibility of arranging for logistic & delivery of products in smaller quantities, hence relieving the producer from product sales.</p>

    <h4>[Role as Financier]</h4>
    <p>They act as the buyer for bulk purchases, making the sale process much easier for raw material supplier to offload their produce. These inventories will be sold in much smaller quantities with flexible credit terms, acting as the “banker” for both retailers/consumers.</p>
  </section>

  <section class="inner-section container">
    <h2>What Insurance does Wholesaler need?</h2>
    <p>A whole lot, actually…</p>
    <p>Due to the nature of its trade, wholesalers will need to create value in the supply chain by performing various functions (distributor, financier), otherwise it would merely be that of the transfer of goods from producer to consumer, making its role irrelevant.</p>
    <p>There is foreign exchange risk between purchase & sale of goods, storage cost of inventories, liquidity risk when inventories are not sold off, distribution cost in transporting goods from warehouse to consumers, credit risk when buyers default on their credit payments…</p>
    <p>Bankers & financial institutions are more willing to grant favourable trade facilities when the borrower has a robust credit management system. Without it, any incidents of loss or default in receivables collection could lead to possible bankruptcy of the company, should trade facilities be cancelled or reduced. As such, insurance protection is fundamental to its solvency & growth.</p>


    <a href="#quoteModal" rel="modal:open" class="button button--primary button--uppercase button--lg">
      GET A FREE QUOTE
      <i class="icon icon--right"></i>
    </a>
  </section>

  <section class="inner-section container">
    <h2>What policies are suitable for Wholesalers?</h2>

    <h4>Trade Credit Insurance</h4>
    <ul>
      <li>A risk management/business development tool to cover payment defaults when companies are trading on credit terms</li>
      <li>Offers protection against events of credit default on trade receivables (non-payment, buyer insolvency)</li>
      <li>Offers competitive credit terms without compromising on credit risk when pursuing growth in new/challenging markets</li>
    </ul>

    <h4>Work Injury Compensation (WIC)</h4>
    <ul>
      <li>Mandatory legal requirement for companies that relies on human manual labour, and/or employs workers that earns less than $1,600/pm</li>
      <li>Labour intensive related industries (factories, assembly plants, construction sites, mills, farms)</li>
    </ul>

    <h4>Motor Insurance</h4>
    <ul>
      <li>Companies that uses commercial vehicles, prime movers, cranes , hoisting vehicles will need to protect their assets against loss or damage</li>
      <li>Legal requirement to have road insurance in place prior to conduct of business</li>
      <li>Companies that are in the logistic business (freight forwarding, movers, logistics)</li>
    </ul>

    <h4>Inland Transit</h4>
    <ul>
      <li>Covers the loss, destruction or damage to the goods whilst in transit, which includes the packing and unpacking, loading or offloading, transportation and storage of goods by any means land conveyance or whilst temporarily housed in the ordinary course of transit within the territorial limit caused by named perils or accidental means.</li>
      <li>Usually only covers domestic transportation, and policy cover could be extended to either 1 vehicle or a fleet of vehicles.</li>
    </ul>

    <h4>Property Insurance</h4>
    <ul>
      <li>Requirement for companies that has warehouses, factories, mills, plants to protect against loss or damage of property & its contents.</li>
      <li>Consequential damages which includes business interruption, rebuilding/repair cost, inventories replacement cost, 3rd party damages could prove to be very costly if left uninsured</li>
    </ul>

    <h4>Product Liability</h4>
    <ul>
      <li>Damages or death caused to 3 rd parties through the use of product, due to performance or functional failure, which may lead of costly lawsuits or penalties associated with failure to comply to either regulatory requirements or social/ enterprise guidelines</li>
      <li>Protection against such liabilities is important if the product is the key driver to the growth of the company. Company branding & goodwill is left compromised, as a result of inadequate protection against possible product performance failure</li>
    </ul>

    <p>Other insurance products that are commonly used in the manufacturer sectors will include:</p>
    <ul>
      <li>Marine Cargo</li>
      <li>Cyber Security</li>
      <li>Public Liability</li>
      <li>Business interruption</li>
      <li>Director & Officer Liability</li>
    </ul>
  </section>

  <section class="inner-section container">
    <h2>What is Cost of Protection?</h2>
    <p>From a needs based analysis, it would be more meaningful to look at the amount of coverage required and derive the insurance cost that is associated with the protection required. Hence, company owner needs to understand their liabilities whilst conducting their business, and seek a suitable suite of insurance cover that addresses most if not all of their immediate and/or future liabilities.</p>
    <p>For a detailed recommendation, we advise you to list down your requirements in the quotation page to allow us to understand your needs better before we provide our solutions.</p>
    <a href="#quoteModal" rel="modal:open" class="button button--primary button--uppercase button--lg">
      GET A FREE QUOTE
      <i class="icon icon--right"></i>
    </a>
  </section>
  {% from "components/_contact-card.html" import contactCard %}
  {{ contactCard(true) }}
{% endblock %}