.slider {
  width: 100%;
  position: relative;

  &__nav {
    position: absolute;
    left: -0.6em;
    right: -0.6em;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__btn {
    padding: 0;
    height: 2.2em;
    width: 1.6em;
    font-size: 1em;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 0.65em auto;
    background-position: center center;
    border: 0;
    box-shadow: none;
    cursor: pointer;

    &:hover {
      opacity: 0.75;
    }
  }

  &__next {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='20' fill='none'%3E%3Cpath fill='%2352516E' d='M7.104 10L.3 2.064A1.25 1.25 0 0 1 2.199.437l7.5 8.75a1.25 1.25 0 0 1 0 1.627l-7.5 8.75a1.25 1.25 0 0 1-1.898-1.628L7.104 10z'/%3E%3C/svg%3E%0A");
  }

  &__prev {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='20' fill='none'%3E%3Cpath fill='%2352516E' d='M2.896 10L9.7 17.936a1.25 1.25 0 0 1-1.898 1.628l-7.5-8.75a1.25 1.25 0 0 1 0-1.627L7.8.437a1.25 1.25 0 0 1 1.898 1.627L2.896 10z'/%3E%3C/svg%3E%0A");
  }
}