<header class="header {% if headerIsWhite %}header--white{% endif %}">
  <nav class="header__container container">
    {{ logo('header__logo') }}

    <button data-toggle="#modalNav" class="toggle">
      <span class="toggle__item toggle__item--first"></span>
      <span class="toggle__item toggle__item--second"></span>
    </button>

    <div class="header__collapse" id="modalNav">
      <div class="header__collapse-wrap">
        <ul class="main-nav">
          <li class="main-nav__item">
            <a {% if currentPath != '/' %}href="/coverprovide/"{% endif %} class="main-nav__link {% if currentPath == '/' %}main-nav__link--active{% endif %}">Home</a>
          </li>
          <li class="main-nav__item">
            <a href="#quoteModal" rel="modal:open" class="main-nav__link">Get Quotations</a>
          </li>
          <li class="main-nav__item">
            <a {% if currentPath != '/types-of-insur' %}href="/coverprovide/types-of-insur"{% endif %} class="main-nav__link {% if currentPath == '/types-of-insur' %}main-nav__link--active{% endif %}">Types of Insurance</a>
          </li>
          <li class="main-nav__item">
            <a {% if currentPath != '/industries' %}href="/coverprovide/industries"{% endif %} class="main-nav__link {% if currentPath == '/industries' %}main-nav__link--active{% endif %}">Industries</a>
          </li>
          <li class="main-nav__item">
            <a {% if currentPath != '/about' %}href="/coverprovide/about"{% endif %} class="main-nav__link {% if currentPath == '/about' %}main-nav__link--active{% endif %}">About us</a>
          </li>
          <li class="main-nav__item">
            <a {% if currentPath != '/contacts' %}href="/coverprovide/contacts"{% endif %} class="main-nav__link {% if currentPath == '/contacts' %}main-nav__link--active{% endif %}">Contact us</a>
          </li>
          <li class="main-nav__item">
            <a href="/coverprovide/login" class="topbar__item button button--white button--outline">Sign in</a>
          </li>
        </ul>

        {% include "components/_topbar.html" %}
      </div>
    </div>
  </nav>
</header>