{% set sortOptions = [{
  label: 'Total Premium',
  value: 0
},{
  label: 'Lorem ipsum',
  value: 1
},{
  label: 'Dolor sit amet',
  value: 2
},{
  label: 'Consectetur adipisicing',
  value: 3
},{
  label: 'Amet quidem',
  value: 4
}] %}

{% set industryOptions = [{
  label: 'Personal Services',
  value: 0
},{
  label: 'Lorem ipsum',
  value: 1
},{
  label: 'Dolor sit amet',
  value: 2
},{
  label: 'Consectetur adipisicing',
  value: 3
},{
  label: 'Amet quidem',
  value: 4
}
] %}

{% set providesOptions = [{
  label: 'QBE',
  value: 0
},{
  label: 'AXA',
  value: 1
},{
  label: 'Liberty Mutual',
  value: 2
},{
  label: 'Chubb',
  value: 3
},{
  label: 'Tokiomarine',
  value: 4
}] %}

<header class="header header--table header--search">
  <div class="header__container">
    <nav>
      {{ logo('header__logo') }}

      <button class="header__mobile-close" data-toggle="search"></button>
    </nav>

    <div class="search">
      <form action="/" method="GET" class="form form--inline">
        <div class="form__group form__group--with-divider">
          {{ select('Sort by', 'sortby', options=sortOptions, size="md") }}
        </div>

        <div class="form__group">
          {{ select('Industry', 'industry', options=industryOptions, size="md", default="true") }}
        </div>

        <div class="form__group">
          {{ field('Budget', type="number", 'budget', icon="dollar", size="md", align="right") }}
        </div>

        <div class="form__group">
          {{ select('Provides', 'provides', options=providesOptions, isMulti=true, size="md") }}
        </div>

        <div class="form__group">
          <button class="button button--primary button--block button--uppercase" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
</header>

<header class="header header--table header--sort">
  <div class="header__container">
    <nav>
      {{ logo('header__logo') }}

      <button class="header__mobile-close" data-toggle="sort"></button>
    </nav>
  <div>
</header>