.button--primary {
  color: $text-white;
  background: $color-primary-2;

  &:hover,
  &:focus {
    background: rgba($color-primary-2, .7);
  }
  
  &.button--outline {
    color: $color-primary-2;
    background: none;
  }
}

