{% from "components/_picture.html" import picture %}
{% from "components/_logo.html" import logo %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  <main class="login">
    <section class="login__content">
      <div class="login__content-wrapper">
        {{ logo('login__logo') }}
        
        {% block content %}{% endblock %}
      </div>
    </section>

    <section class="login__design-block login-design-block">
      {{ picture("Insure SME", "login-design-block__pic", "/img/login/login__hero", "png") }}
    </section>
  </main>
</body>
</html>