{% from "components/_picture.html" import picture %}
{% from "components/_logo.html" import logo %}

<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{{ title }}</title>

  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
  {% from "components/_forms.html" import field, select, numeric %}
  {% include "components/_header--table.html" %}
  {% include "components/_aside--table.html" %}
  
  <main class="main">
    {% block content %}{% endblock %}
  </main>

  <script src="/js/vendor/jquery-3.4.1.min.js"></script>
  <script src="/js/vendor/ofi.min.js"></script>
  <script src="/js/vendor/jquery.modal.min.js"></script>
  <script src="/js/scripts.js"></script>
</body>
</html>