.control {
  &__label {
    display: block;
    margin-bottom: 10px;
    font-size: 1em;
    line-height: 1;
    color: $text-gray-2;
  }

  &__wrapper {
    position: relative;
  }

  &__icon {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0.9em;
    transform: translateY(-50%);
    line-height: 0;
  }

  &__input {
    width: 100%;
    padding: 0 0.9em;
    font-size: 1em;
    color: $text-gray;
    background: $bg-gray;
    border-radius: 0.375em;

    &[type=number]::-webkit-inner-spin-button, 
    &[type=number]::-webkit-outer-spin-button { 
      -webkit-appearance: none; 
      margin: 0; 
    }

    &[type=number] {
        -moz-appearance: textfield;
    }
  }

  &__input:focus {
    outline: none;
    box-shadow: 0 0 0 1px #2B44DC;
  }

  &--md #{&} {
    &__input {
      height: 2.25em;
    }
  }

  &--lg #{&} {
    &__input {
      height: 2.875em;
    }
  }

  &--has-icon #{&}__input {
    padding-left: 2.65em;
  }

  &--align-right #{&}__input {
    text-align: right;
  }

  &--align-left #{&}__input {
    text-align: left;
  }
}