{% extends "layouts/_base.html" %}
{% from "components/_breadcrumbs.html" import breadcrumbs %}

{% set title = "Chow Kooi Yew" %}

{% block content %}
  <section class="section section--first">
    <nav class="container">
      {{ breadcrumbs([
        { label: 'About us', link: '/about' },
        { label: 'Chow Kooi Yew' }
      ]) }}
    </nav>
  </section>

   <section class="section container section--last">
    <div class="founder-card">
      <div class="founder-card__img-wrap">
        {{ picture("Chow Kooi Yew", "founder-card__img", "img/about/team/chow-kooi-yew", "jpg") }}
      </div>

      <div class="founder-card__content">
        <h3 class="founder-card__name">Chow Kooi Yew</h3>
        <p class="founder-card__position">Financial Controller</p>
        <p class="founder-card__bio">Mr Chow Kooi Yew, is the financial controller of the company. A certified Chartered Accountant with 25 years of regional accounting and finance experience. He served as Regional Financial Controller with SunEdison Inc from 2007 to 2016. From 2004 to 2007, he served as Regional Financial Controller with Equinix Asia Pacific Pte Ltd. He served as Regional Financial Controller with Fujitsu Personal Computers Pte Ltd from 1998 to 2003.</p>
      </div>
    </div>
  </section>
{% endblock %}